<ul class="nav nav-pills nav-fill mt-2">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard" NavlinkMatch.All>Dashboard</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Message-Center" NavlinkMatch.All>Message Center</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Community" NavlinkMatch.All>Community</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Friends" NavlinkMatch.All>Friends</NavLink>
    </li>
</ul