@page "/Message-Center"

<div class="container">
    <UserNav />
    <div class="row justify-content-center  mt-5 pt-5">
        <div class="col-auto text-center">
            <span class="display-1">Message Center</span>
        </div>
    </div>
</div>